<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="fifty_percent" id="fifty_percent">
			<module name="Angel_Fd"/>
		</route>
		<route frontName="angel_fd" id="angel_fd">
			<module name="Angel_Fd"/>
		</route>
	</router>
</config>
