<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Angel_Core::angel">
					<resource id="Angel_Core::fd" title="50/50 Raffle">
						<resource id="Angel_Fd::Product" sortOrder="10" title="50/50 Product Management"/>
						<resource id="Angel_Fd::Pr" sortOrder="20" title="Prize" />
						<resource id="Angel_Fd::Ticket" sortOrder="30" title="Ticket" />
					</resource>
				</resource>

				<resource id="Magento_Sales::sales">
					<resource id="Angel_Fd::report" sortOrder="10" title="50/50 Tickets Report"/>
				</resource>

				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Angel_Fd::config_angel_fd" title="50/50 Raffle"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
